/* GENERAL STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* PALETTE
#FAF3DD   -- blanc cassé
#64958F   -- vert canard
#065C6F   -- bleu foncé
#FFBB91   -- orange

## police -- AVENIR LIGHT
## police de google


#00BFA5   -- vert de la barre de navigation (NAVBAR)
#424242
#9E9E9E
#007F6E    -- vert foncé de la barre de navigation (NAVBAR) et des liens survolés
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* NAVBAR */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
  text-align: center;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}



.sidebar a.active {
  background-color: #065C6F;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #FFBB91;
  color: white;
}

.container{
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
	text-align: center;
  }
  .sidebar a {float: left;}
  .container {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

/* FIN NAVBAR */


/* MEDIA - IMAGES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.image {
  border: 0;
  position: relative;
  left:auto;
  display: block;
  text-align: center;
  display: block;
  margin: 2.5rem auto 0;
  width: 100%;
  max-width: 200px;
  min-width: 75px;
  height: auto;

}

.rezize_image {
  position: relative;
  height: 100px;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* DIVERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.separator{
    height: 10px;
}

.mini_separator{
  line-height : 1px;
  max-height : 2px;
  min-height : 1px;
    background-color: #f1f1f1;
}

.prix {
  color:#FFBB91;
  text-align: center;

}

.espacement_h6{
	margin-bottom:0.1rem;
  text-align: center;
}

.espacement_h4{
	margin-bottom:0.1rem;
  text-align: center;
}

row.creatrice{
  bottom: 0;
}


.separator{
    height: 10px;
}

/* FOOTER
-------------------------------*/
.footer{
text-align: center;
bottom: 0;
height: 100px;
left: 0;
}

.div_footer{
display: inline-block;
margin-bottom: 0;
}

.div_footer2{
margin-bottom: 0;
font-size: 80%;
font-family:monospace;
}



.rezize_image_footer{
height: 20px;
margin: 2px;
}
